body {
  background-color: #495057;
  font-family:'Noto Sans JP', sans-serif;
  color: white;
}
body, html {
  height: 100%;
}
h1,h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight:700;
}

.hero-image {

background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/jonathan-borba-Sq3tHw0y2qE-unsplash.jpg");

height: 100%;
filter: grayscale(1);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

#chartBackground {
  background-color: whitesmoke;
  margin:1em;
}

hr {
  background-color: #dee2e6;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

a, a:active, a:visited{
  color:#dee2e6;

}